
@{
    ViewBag.Title = "Activation";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Activation</h2>
<h2>
    @Html.Raw(ViewBag.Message)  <!--Raw metodu c# tarafında html tagı yazdığımızda onların render edilmiş halini gosteriyor.-->
</h2>

