
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";   <!-- Layoutumuzu view oluştururken seçtik böylece burada hangi layoutu kullandığımız gözükmüş oldu.-->
}

<h2>İlk tema giydirme işlemi</h2>

